.active{
    color:black!important;
}

#header{
    background:url("../bahanikopin/image1.png");
    background-position: center;
    background-repeat: none;
    background-position-x: right;
    background-size: cover;
    height: 600px;
    position: relative;
}

/* a.btn.mt-3.text-uppercase {
    background-color: white;
    color: black;
} */

.container2{width: 100%;overflow: hidden;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);}
.mt-2{
  margin-top: 0px!important;
}

.img-card-header{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    position:relative;
    left: 50%;
    transform: translate(-50%, -0%);
}
.topNav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
    position: relative;
}


.topNav h2{
    display: flex;
}
.cover-text h2 {
    font-size: 18px;
}
.navbar-collapse{
    gap:50px;
    overflow: hidden;
}
.cover-text{
    background-color:white;
    color:black;
    position: relative;
    width: 800px;
    height: 50px;
    overflow: hidden;
    padding:10px;
    border-radius: 5px;
  }

  .cover-text span {
    position: absolute;
    white-space: nowrap;
    animation: slide 15s linear infinite;
    left: 100%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
    height: 400px;
    overflow: scroll;
}

.navbar-nav {
    width: 450px;
}
.navbar-nav {width: 1200px;}
/* a.btn.mt-3.text-uppercase:hover {
    background-color: yellow;
} */

.maba-content{
    height:600px;
    display: flex;
    font-size: 28px;
    color: white;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

/* .maba-content a {
    font-size: 14px;
    background-color: #e7e2e2;
    padding: 10px 45px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    opacity: 80%;
    text-align: center;
} */

/* .maba-content a:hover {
    background-color: yellow;
    color:white;
} */
.pop-up-container {
    display:none;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 90%;
    left: 20%;
    /* background-color: #66666630; */
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    height:300px;
}.p-up {
    background-color: #66666630;
    display: none;
    margin-top: 15px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}
.p-up:hover{
    background-color:yellow;
    cursor:pointer;
}

.link {
    width: 120px;
    height: 30px;
    background-color: #ffffff82;
    border-radius: 5px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.link:hover{
    background-color:yellow;
}
.link a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}
#content{
    /* display:none; */
}
.maba-content .content1{
    background:url("../bahanikopin/image4.png");
    width: 600px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    gap: 15px;
    height: 400px;
    border-radius: 20px;
    /* overflow: hidden; */
    position: relative;
    align-items: center;
    flex-direction: column;
}
.maba-content .content2 {
    width: 300px;
    height: 600px;
}

.maba-content .content2 img {
    width: 100%;
    height: 100%;
}
.maba-content .content1 h3 {
    font-size: 20px;
    width: 300px;
    text-align: center;
    opacity: 85%;
}
.maba-content .pop-up-container a {
    font-size: 10px;
    background-color: none;
    padding: 0;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    opacity: 80%;
    text-align: center;
}

.content{
    margin-top:50px;
}
.navbar-2-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-2-content ul {
    display: flex;
    gap: 70px;
    list-style: none;
}

.navbar-2-content ul li {
    background-color: yellow;
    padding: 10px 25px;
    border-radius: 5px;
}
.navbar-2-content ul li:hover {
    background-color: grey;
}

.navbar-2-content ul li a {
    text-decoration: none;
    color: black;
}


.card li {
    list-style: lower-alpha;
}

.card {
    width: 80%;
    padding: 20px;
    display: none;
}

div#card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* text-align: center; */
}
.content-slide{
    display:none;
}

.content-slide.active{
    display: flex;
    justify-content: center;
}
.content-slide img {
    width: 600px;
}
.slide h2 {
    background-color: #d9d9d9;
    padding: 10px 15px;
    /* Styling tambahan untuk slide */
    border-radius: 5px;
    cursor: pointer;
}

.slide.active {
    display: block;
}


  @keyframes slide {
    0% {
      transform: translateX(100%%);
    }
    100% {
      transform: translateX(-200%);
    }
  }
@media screen and (max-width:800px){

    .header-text {
    font-size: 16px;
}

.sub-head {
    font-size: 12px;
}

.nav-head {
    font-size: 10px;
}

.text-center.carousel-item.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header{
    background:url("../bahanikopin/image1.png");
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-position-x: right; */
    background-size: contain;
    height: 200px;
    position: relative;
    /* padding: 0; */
    /* margin: 0; */
}
.maba-content .pop-up-container a {
    font-size: 10px;
    background-color: none;
    padding: 0;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    opacity: 80%;
    text-align: center;
}
.pop-up-container {
    /* display:none; */
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 40%;
    left: 0;
    /* background-color: #66666630; */
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
    height:300px;
}
.link {
    width: 120px;
    height: 30px;
    background-color: #ffffff82;
    border-radius: 5px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}
    .container2{
        padding-bottom:0px;
    }
    .cover-text {
    width: 280px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    position: absolute;
    left: 25%;
    /* transform: translate(-50%, 0px); */
    /* /* width: 800px; */
}.cover-text h2 {
    font-size: 14px;
}

.span-cover {
    overflow: hidden;
}
.maba-content{
    height: auto;
    display: flex;
    font-size: 28px;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    overflow: hidden;
}


.maba-content a:hover {
    background-color: yellow;
    color:white;
}
.p-up {
    background-color: #66666630;
    display: none;
    margin-top: 15px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
}

.container2{width: 100%;overflow: hidden;position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);}

#content{
    /* display:none; */
}
.maba-content .content1{
    background:url("../bahanikopin/image4.png");
    width: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    gap: 15px;
    height: 450px;
    border-radius: 20px;
    /* overflow: hidden; */
    /* position: relative; */
    flex-direction: column;
}
.maba-content .content2 {
    /* display: flex; */
    width: 300px;
    height: 600px;
    align-content: center;
}

.maba-content .content2 img {
    width: 100%;
    height: 100%;
}
.maba-content .content1 h3 {
    font-size: 20px;
    width: 300px;
    text-align: center;
    opacity: 85%;
}


}

